<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body>
      <h1 class="jumbotron text-center">Chatterbot in Python using Flask Framework</h1>
      <div class="container">
         <div class="row">
            <div class="col-sm-6 offset-sm-3">
               <div id="chatbox" class="border border-success">
                  <p class="botText"><span>Hi! I'm Chatterbot</span></p>
               </div>
               <div id="userInput">
                  <input id="textInput" class="form-control" type="text" name="msg" placeholder="Type Your Message Here">
                  <div class="row">
                     <div class="column2"><input id="buttonInput" class="btn btn-success form-control"
                        type="submit" value="Send"></div>
                     <div class="column1"><i id='mic' class="fa fa-microphone fa-2x"></i></div>
                  </div>
               </div>
            </div>
         </div>
         <script>
            $("#mic").click(function() {
                $.get("/mic_recognition").done(function(data) {
                    var res = data.split(',')
                    let userHtml = '<p class="userText"><span>' + res[0] + '</span></p>';
                    $("#chatbox").append(userHtml);
                    document.getElementById('userInput').scrollIntoView({
                        block: 'start',
                        behavior: 'smooth'
                    });
                    var botHtml = '<p class="botText"><span>' + res[1] + '</span></p>';
                    $("#chatbox").append(botHtml);
                    document.getElementById('userInput').scrollIntoView({
                        block: 'start',
                        behavior: 'smooth'
                    });
                });


            });


            function getResponse() {
                let userText = $("#textInput").val();
                let userHtml = '<p class="userText"><span>' + userText + '</span></p>';
                $("#textInput").val("");
                $("#chatbox").append(userHtml);
                document.getElementById('userInput').scrollIntoView({
                    block: 'start',
                    behavior: 'smooth'
                });
                $.get("/get_response", {
                    msg: userText
                }).done(function(data) {
                    var botHtml = '<p class="botText"><span>' + data + '</span></p>';
                    $("#chatbox").append(botHtml);
                    document.getElementById('userInput').scrollIntoView({
                        block: 'start',
                        behavior: 'smooth'
                    });
                });
            }
            $("#textInput").keypress(function(e) {
                //if enter key is pressed
                if (e.which == 13) {
                    getResponse();
                }
            });
            $("#buttonInput").click(function() {
                getResponse();
            });


         </script>
      </div>
   </body>
</html>